.landing-page-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.landing-page-header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-heading {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.landing-page-hero {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1200px;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: flex-start;
}
.landing-page-image {
  right: 0px;
  width: 871px;
  bottom: 2px;
  height: 639px;
  opacity: 0.9;
  position: absolute;
  object-fit: cover;
}
.landing-page-content {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0.5;
  display: flex;
  z-index: 20;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.landing-page-title {
  font-size: 64px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 76px;
}
.landing-page-caption {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  line-height: 27px;
}
.landing-page-android-btn {
  gap: var(--dl-space-space-halfunit);
  fill: white;
  color: white;
  cursor: pointer;
  height: 58px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #000000;
}
.landing-page-android-btn:hover {
  background-color: rgba(0, 0, 0, 0.75);
}
.landing-page-image1 {
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.landing-page-video {
  color: white;
  width: 100%;
  display: flex;
  z-index: 10;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
  background-color: #000000;
}
.landing-page-content1 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
}
.landing-page-header1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text02 {
  width: 640px;
  font-size: 40px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.landing-page-video-container {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-image2 {
  width: 100%;
  height: 472px;
  object-fit: cover;
}
.landing-page-heading-container {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-heading01 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text03 {
  font-size: 24px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 36px;
}
.landing-page-text04 {
  color: rgb(234, 234, 234);
  width: 600px;
  font-family: Poppins;
  line-height: 24px;
}
.landing-page-explore {
  color: #fff;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-color: #ffffff;
  border-width: 0px;
  flex-direction: column;
  padding-bottom: 4px;
  border-bottom-width: 1px;
}
.landing-page-explore:hover {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.3);
}
.landing-page-text05 {
  width: Size-XSmall;
}
.landing-page-stats {
  width: 100%;
  display: flex;
  z-index: 10;
  max-width: 1200px;
  min-width: 100%;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: center;
}
.landing-page-stat {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  border-color: #DBDBDB;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
.landing-page-caption1 {
  font-size: 40px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 56px;
}
.landing-page-description {
  width: 100%;
  font-size: 18px;
  max-width: 350px;
  text-align: center;
  font-family: Poppins;
  line-height: 27px;
}
.landing-page-stat1 {
  gap: var(--dl-space-space-oneandhalfunits);
  height: auto;
  display: flex;
  align-items: center;
  border-color: #DBDBDB;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  border-bottom-width: 1px;
}
.landing-page-caption2 {
  font-size: 40px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 56px;
}
.landing-page-description1 {
  width: 100%;
  font-size: 18px;
  max-width: 350px;
  text-align: center;
  font-family: Poppins;
  line-height: 27px;
}
.landing-page-stat2 {
  gap: var(--dl-space-space-oneandhalfunits);
  height: auto;
  display: flex;
  align-items: center;
  border-color: #DBDBDB;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  border-left-width: 1px;
  border-bottom-width: 1px;
}
.landing-page-caption3 {
  font-size: 40px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 56px;
}
.landing-page-description2 {
  width: 100%;
  font-size: 18px;
  max-width: 350px;
  text-align: center;
  font-family: Poppins;
  line-height: 27px;
}
.landing-page-features {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 16px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: flex-start;
}
.landing-page-header2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.landing-page-tag {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #D6F1F0;
}
.landing-page-text06 {
  font-style: normal;
  font-weight: 500;
}
.landing-page-heading02 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.landing-page-text07 {
  width: 100%;
  font-size: 40px;
  max-width: 400px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}
.landing-page-text08 {
  width: 100%;
  font-size: 18px;
  max-width: 600px;
  line-height: 27px;
}
.landing-page-feature-list {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.landing-page-pricing {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 16px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #F3F5FA;
}
.landing-page-content2 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
}
.landing-page-header3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.landing-page-tag1 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #D6F1F0;
}
.landing-page-text09 {
  font-style: normal;
  font-weight: 500;
}
.landing-page-heading03 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.landing-page-text10 {
  width: 100%;
  font-size: 40px;
  max-width: 600px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 56px;
}
.landing-page-pricing-plans {
  flex: 1;
  width: 914px;
  display: grid;
  overflow: hidden;
  align-items: flex-start;
  border-color: #DBDBDB;
  border-width: 1px;
  border-radius: 16px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #375EE0;
  grid-template-columns: auto auto;
}
.landing-page-plans {
  flex: 1;
  height: auto;
  display: grid;
  padding-top: var(--dl-space-space-twounits);
  padding-left: TwoUnits;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: #ffffff;
  grid-template-columns: auto auto auto;
}
.landing-page-plan {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 300px;
  align-items: flex-start;
  border-color: #DBDBDB;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
  border-right-width: 1px;
}
.landing-page-top {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  border-color: #DBDBDB;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.landing-page-heading04 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.landing-page-text11 {
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.landing-page-text12 {
  font-family: Poppins;
  line-height: 24px;
}
.landing-page-cost {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.landing-page-text13 {
  font-size: 40px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 40px;
}
.landing-page-bottom {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-check-list {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.landing-page-button {
  width: 100%;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #ADE2DF;
}
.landing-page-button:hover {
  background-color: rgba(173, 226, 223, 0.5);
}
.landing-page-text14 {
  font-style: normal;
  font-weight: 500;
}
.landing-page-plan1 {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 300px;
  align-items: flex-start;
  border-color: #DBDBDB;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  border-right-width: 1px;
}
.landing-page-top1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  border-color: #DBDBDB;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.landing-page-heading05 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.landing-page-text15 {
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.landing-page-text16 {
  font-family: Poppins;
  line-height: 24px;
}
.landing-page-cost1 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-start;
}
.landing-page-text17 {
  font-size: 40px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 40px;
}
.landing-page-text18 {
  font-family: Poppins;
}
.landing-page-bottom1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-check-list1 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.landing-page-button1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #ADE2DF;
}
.landing-page-button1:hover {
  background-color: rgba(173, 226, 223, 0.5);
}
.landing-page-text19 {
  font-style: normal;
  font-weight: 500;
}
.landing-page-expand {
  flex: 0.3;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-500);
}
.landing-page-overlay {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: space-between;
  background-image: url("/playground_assets/planbackground.svg");
}
.landing-page-header4 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.landing-page-heading06 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 256px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.landing-page-text20 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.landing-page-text21 {
  color: rgb(193, 255, 252);
  font-size: 24px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 31px;
}
.landing-page-check-list2 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.landing-page-check {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.landing-page-icon {
  fill: #ffffff;
  width: 18px;
  height: 18px;
}
.landing-page-text22 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: Poppins;
  line-height: 24px;
}
.landing-page-check1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.landing-page-icon02 {
  fill: #ffffff;
  width: 18px;
  height: 18px;
}
.landing-page-text23 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: Poppins;
  line-height: 24px;
}
.landing-page-check2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.landing-page-icon04 {
  fill: #ffffff;
  width: 18px;
  height: 18px;
}
.landing-page-text24 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: Poppins;
  line-height: 24px;
}
.landing-page-link {
  display: contents;
}
.landing-page-button2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  text-decoration: none;
  background-color: #000000;
}
.landing-page-button2:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.landing-page-text25 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 500;
}
.landing-page-plans1 {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
}
.landing-page-plan2 {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 300px;
  align-items: flex-start;
  border-color: #DBDBDB;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
  border-right-width: 1px;
}
.landing-page-top2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  border-color: #DBDBDB;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.landing-page-heading07 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.landing-page-text28 {
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.landing-page-text29 {
  font-family: Poppins;
  line-height: 24px;
}
.landing-page-cost2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.landing-page-text30 {
  font-size: 40px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 40px;
}
.landing-page-bottom2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-check-list3 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.landing-page-button3 {
  width: 100%;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #ADE2DF;
}
.landing-page-button3:hover {
  background-color: rgba(173, 226, 223, 0.5);
}
.landing-page-text31 {
  font-style: normal;
  font-weight: 500;
}
.landing-page-plan3 {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 300px;
  align-items: flex-start;
  border-color: #DBDBDB;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  border-right-width: 1px;
}
.landing-page-top3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  border-color: #DBDBDB;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.landing-page-heading08 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.landing-page-text32 {
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.landing-page-text33 {
  font-family: Poppins;
  line-height: 24px;
}
.landing-page-cost3 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-start;
}
.landing-page-text34 {
  font-size: 40px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 40px;
}
.landing-page-text35 {
  font-family: Poppins;
}
.landing-page-bottom3 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-check-list4 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.landing-page-button4 {
  width: 100%;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #ADE2DF;
}
.landing-page-button4:hover {
  background-color: rgba(173, 226, 223, 0.5);
}
.landing-page-text36 {
  font-style: normal;
  font-weight: 500;
}
.landing-page-plan4 {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 300px;
  align-items: flex-start;
  border-color: #DBDBDB;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  border-right-width: 1px;
}
.landing-page-top4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  border-color: #DBDBDB;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.landing-page-heading09 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.landing-page-text37 {
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.landing-page-text38 {
  font-family: Poppins;
  line-height: 24px;
}
.landing-page-cost4 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-start;
}
.landing-page-text39 {
  font-size: 40px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 40px;
}
.landing-page-text40 {
  font-family: Poppins;
}
.landing-page-bottom4 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-check-list5 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.landing-page-button5 {
  width: 100%;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #ADE2DF;
}
.landing-page-button5:hover {
  background-color: rgba(173, 226, 223, 0.5);
}
.landing-page-text41 {
  font-style: normal;
  font-weight: 500;
}
.landing-page-expand1 {
  flex: 0.3;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-overlay1 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: space-between;
  background-image: url("/playground_assets/planbackground.svg");
}
.landing-page-header5 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.landing-page-heading10 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 256px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.landing-page-text42 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.landing-page-text43 {
  color: #C1FFFC;
  font-size: 24px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 31px;
}
.landing-page-check-list6 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.landing-page-check3 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.landing-page-icon06 {
  fill: #ffffff;
  width: 18px;
  height: 18px;
}
.landing-page-text44 {
  color: #ffffff;
  font-size: 14px;
  font-family: Poppins;
  line-height: 24px;
}
.landing-page-check4 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.landing-page-icon08 {
  fill: #ffffff;
  width: 18px;
  height: 18px;
}
.landing-page-text45 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: Poppins;
  line-height: 24px;
}
.landing-page-check5 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.landing-page-icon10 {
  fill: #ffffff;
  width: 18px;
  height: 18px;
}
.landing-page-text46 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: Poppins;
  line-height: 24px;
}
.landing-page-button6 {
  width: 100%;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #000000;
}
.landing-page-button6:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.landing-page-text47 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 500;
}
.landing-page-help {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: row;
}
.landing-page-text50 {
  font-family: Poppins;
}
.landing-page-explore1 {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-width: 0px;
  flex-direction: column;
  padding-bottom: 4px;
  border-bottom-width: 1px;
}
.landing-page-explore1:hover {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.3);
}
.landing-page-link1 {
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.landing-page-testimonials {
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: stretch;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.landing-page-content3 {
  display: flex;
  position: relative;
  align-items: stretch;
  flex-direction: column;
}
.landing-page-quotes {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-buttons {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: 500px;
  align-self: center;
  margin-top: -55px;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-left {
  fill: #DBDBDB;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  border-color: #DBDBDB;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
}
.landing-page-left:hover {
  fill: #000;
  border-color: #000;
}
.landing-page-icon12 {
  width: 19px;
  height: 19px;
}
.landing-page-right {
  fill: #DBDBDB;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  border-color: #DBDBDB;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
}
.landing-page-right:hover {
  fill: #000;
  border-color: #000;
}
.landing-page-icon14 {
  width: 19px;
  height: 19px;
}
.landing-page-faq {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 16px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #F3F5FA;
}
.landing-page-content4 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
}
.landing-page-header6 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.landing-page-tag2 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #D6F1F0;
}
.landing-page-text51 {
  font-style: normal;
  font-weight: 500;
}
.landing-page-heading11 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.landing-page-text54 {
  width: 100%;
  font-size: 40px;
  max-width: 600px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 56px;
}
.landing-page-rows {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.landing-page-column {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-title1 {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
}
.landing-page-description3 {
  font-family: Poppins;
  line-height: 24px;
}
.landing-page-title2 {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
}
.landing-page-description4 {
  font-family: Poppins;
  line-height: 24px;
}
.landing-page-question2 {
  border-bottom-width: 0px;
}
.landing-page-title3 {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
}
.landing-page-description5 {
  font-family: Poppins;
  line-height: 24px;
}
.landing-page-column1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-question3 {
  border-right-width: 0px;
}
.landing-page-title4 {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
}
.landing-page-description6 {
  font-family: Poppins;
  line-height: 24px;
}
.landing-page-question4 {
  border-right-width: 0px;
}
.landing-page-title5 {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
}
.landing-page-description7 {
  font-family: Poppins;
  line-height: 24px;
}
.landing-page-question5 {
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.landing-page-title6 {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
}
.landing-page-description8 {
  font-family: Poppins;
  line-height: 24px;
}
.landing-page-get-started {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #ADE2DF;
}
.landing-page-content5 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
}
.landing-page-heading12 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-text61 {
  color: var(--dl-color-gray-500);
  font-size: 64px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
}
.landing-page-hero-buttons {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  z-index: 15;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.landing-page-android-btn1 {
  gap: var(--dl-space-space-halfunit);
  fill: white;
  color: white;
  cursor: pointer;
  height: 58px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #000000;
}
.landing-page-android-btn1:hover {
  background-color: rgba(0, 0, 0, 0.75);
}
.landing-page-image3 {
  width: 25px;
  height: 25px;
  object-fit: cover;
}
@media(max-width: 991px) {
  .landing-page-hero {
    flex-direction: column;
  }
  .landing-page-content {
    gap: var(--dl-space-space-unit);
    flex: 0 0 auto;
    padding-top: var(--dl-space-space-unit);
    padding-bottom: 0px;
  }
  .landing-page-title {
    font-size: 50px;
    text-align: left;
    line-height: 58px;
  }
  .landing-page-caption {
    font-size: 16px;
  }
  .landing-page-android-btn {
    flex: 1;
  }
  .landing-page-content1 {
    gap: var(--dl-space-space-threeunits);
  }
  .landing-page-stats {
    padding-top: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .landing-page-stat {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    padding-bottom: var(--dl-space-space-threeunits);
    border-right-width: 0px;
  }
  .landing-page-caption1 {
    text-align: center;
    line-height: 32px;
  }
  .landing-page-stat1 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .landing-page-caption2 {
    text-align: center;
    line-height: 32px;
  }
  .landing-page-stat2 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
    border-left-width: 0px;
  }
  .landing-page-caption3 {
    text-align: center;
    line-height: 32px;
  }
  .landing-page-pricing {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .landing-page-content2 {
    gap: var(--dl-space-space-threeunits);
  }
  .landing-page-header3 {
    gap: var(--dl-space-space-unit);
  }
  .landing-page-pricing-plans {
    grid-template-columns: none;
  }
  .landing-page-plans {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .landing-page-overlay {
    width: 100%;
    background-size: contain;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: right;
  }
  .landing-page-header4 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .landing-page-heading06 {
    gap: var(--dl-space-space-halfunit);
    max-width: 600px;
  }
  .landing-page-text20 {
    font-size: 18px;
  }
  .landing-page-text21 {
    font-size: 20px;
    line-height: 26px;
  }
  .landing-page-text22 {
    line-height: 21px;
  }
  .landing-page-text23 {
    line-height: 21px;
  }
  .landing-page-text24 {
    line-height: 21px;
  }
  .landing-page-button2 {
    margin-top: var(--dl-space-space-threeunits);
  }
  .landing-page-overlay1 {
    width: 100%;
    justify-content: space-between;
  }
  .landing-page-header5 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .landing-page-heading10 {
    gap: var(--dl-space-space-halfunit);
    max-width: 600px;
  }
  .landing-page-text42 {
    font-size: 18px;
  }
  .landing-page-text43 {
    font-size: 20px;
    line-height: 26px;
  }
  .landing-page-text44 {
    line-height: 21px;
  }
  .landing-page-text45 {
    line-height: 21px;
  }
  .landing-page-text46 {
    line-height: 21px;
  }
  .landing-page-button6 {
    margin-top: var(--dl-space-space-threeunits);
  }
  .landing-page-get-started {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .landing-page-content5 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .landing-page-heading12 {
    gap: var(--dl-space-space-halfunit);
  }
  .landing-page-text61 {
    font-size: 40px;
  }
  .landing-page-android-btn1 {
    flex: 1;
  }
}
@media(max-width: 767px) {
  .landing-page-title {
    font-size: 40px;
    line-height: 48px;
  }
  .landing-page-caption {
    font-size: 16px;
    line-height: 24px;
  }
  .landing-page-text02 {
    width: 100%;
    font-size: 32px;
    max-width: 640px;
  }
  .landing-page-video-container {
    gap: var(--dl-space-space-threeunits);
  }
  .landing-page-heading01 {
    gap: var(--dl-space-space-halfunit);
  }
  .landing-page-text03 {
    font-size: 20px;
    line-height: 30px;
  }
  .landing-page-text04 {
    width: 100%;
    max-width: 600px;
  }
  .landing-page-caption1 {
    font-size: 32px;
  }
  .landing-page-description {
    font-size: 16px;
    line-height: 24px;
  }
  .landing-page-caption2 {
    font-size: 32px;
  }
  .landing-page-description1 {
    font-size: 16px;
    line-height: 24px;
  }
  .landing-page-caption3 {
    font-size: 32px;
  }
  .landing-page-description2 {
    font-size: 16px;
    line-height: 24px;
  }
  .landing-page-features {
    gap: var(--dl-space-space-threeunits);
  }
  .landing-page-header2 {
    gap: var(--dl-space-space-unit);
  }
  .landing-page-text06 {
    font-size: 14px;
  }
  .landing-page-text07 {
    font-size: 32px;
    line-height: 44px;
  }
  .landing-page-text08 {
    font-size: 16px;
    line-height: 24px;
  }
  .landing-page-feature-list {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-direction: column;
  }
  .landing-page-text10 {
    font-size: 32px;
    line-height: 44px;
  }
  .landing-page-pricing-plans {
    display: none;
  }
  .landing-page-plans1 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
  }
  .landing-page-plan2 {
    max-width: 100%;
    padding-top: var(--dl-space-space-threeunits);
    border-width: 1px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: 16px;
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
    background-color: #ffffff;
  }
  .landing-page-top2 {
    width: 100%;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .landing-page-heading07 {
    gap: var(--dl-space-space-halfunit);
  }
  .landing-page-text28 {
    font-size: 18px;
  }
  .landing-page-text30 {
    font-size: 32px;
    line-height: 32px;
  }
  .landing-page-plan3 {
    max-width: 100%;
    padding-top: var(--dl-space-space-threeunits);
    border-width: 1px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: 16px;
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
    background-color: #ffffff;
    border-right-width: 1px;
  }
  .landing-page-top3 {
    width: 100%;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .landing-page-heading08 {
    gap: var(--dl-space-space-halfunit);
  }
  .landing-page-text32 {
    font-size: 18px;
  }
  .landing-page-text34 {
    font-size: 32px;
    line-height: 32px;
  }
  .landing-page-text36 {
    font-weight: 500;
  }
  .landing-page-plan4 {
    max-width: 100%;
    padding-top: var(--dl-space-space-threeunits);
    border-width: 1px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: 16px;
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
    background-color: #ffffff;
    border-right-width: 1px;
  }
  .landing-page-top4 {
    width: 100%;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .landing-page-heading09 {
    gap: var(--dl-space-space-halfunit);
  }
  .landing-page-text37 {
    font-size: 18px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
  }
  .landing-page-text39 {
    font-size: 32px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
    line-height: 32px;
  }
  .landing-page-text41 {
    font-weight: 500;
  }
  .landing-page-expand1 {
    flex: 0 0 auto;
    width: 100%;
    border-radius: 16px;
    background-color: #375EE0;
  }
  .landing-page-overlay1 {
    align-items: center;
    background-size: contain;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: top right;
  }
  .landing-page-testimonials {
    width: 100%;
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .landing-page-left {
    display: flex;
  }
  .landing-page-right {
    display: flex;
  }
  .landing-page-faq {
    width: 100%;
  }
  .landing-page-content4 {
    gap: var(--dl-space-space-twounits);
  }
  .landing-page-text51 {
    font-size: 14px;
  }
  .landing-page-text54 {
    font-size: 32px;
    line-height: 44px;
  }
  .landing-page-rows {
    flex-direction: column;
  }
  .landing-page-title1 {
    font-size: 16px;
  }
  .landing-page-get-started {
    display: none;
  }
}
@media(max-width: 479px) {
  .landing-page-android-btn {
    width: 100%;
  }
  .landing-page-help {
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .landing-page-buttons {
    margin-top: -40px;
  }
  .landing-page-left {
    padding: var(--dl-space-space-halfunit);
  }
  .landing-page-right {
    padding: var(--dl-space-space-halfunit);
  }
  .landing-page-hero-buttons {
    width: 100%;
    flex-direction: column;
  }
  .landing-page-android-btn1 {
    width: 100%;
  }
}
